@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	var modelInfoList = new List<AdminModelInfo>
	{
		new AdminModelInfo { DisplayName = "Employees", Route = "/Admin/Employees/Index" },
		new AdminModelInfo { DisplayName = "Jobs", Route = "/Admin/Jobs/Index" },
		new AdminModelInfo { DisplayName = "Teams", Route = "/Admin/Teams/Index" },
		new AdminModelInfo { DisplayName = "Projects", Route = "/Admin/Projects/Index" },
		new AdminModelInfo { DisplayName = "Notices", Route = "/Admin/Notices/Index" },
		new AdminModelInfo { DisplayName = "Notifications", Route = "/Admin/Notifications/Index" },
		new AdminModelInfo { DisplayName = "Notification Groups", Route = "/Admin/NotificationGroups/Index" },
		new AdminModelInfo { DisplayName = "Job Comments", Route = "/Admin/Comments/JobComments/Index" },
		new AdminModelInfo { DisplayName = "Notice Comments", Route = "/Admin/Comments/NoticeComments/Index" },
		new AdminModelInfo { DisplayName = "Employee Notification Groups", Route = "/Admin/EmployeeNotificationGroup/Index" },
		new AdminModelInfo { DisplayName = "Employee Teams", Route = "/Admin/EmployeeTeams/Index" },
		new AdminModelInfo { DisplayName = "Employee Projects", Route = "/Admin/EmployeeProjects/Index" },
		new AdminModelInfo { DisplayName = "Team Projetcs", Route = "/Admin/TeamProjects/Index" }
		
        // Add more models here
    };
}

<ul class="nav nav-pills">
	<li class="nav-item">
		<a asp-page="/Admin/Index" class="nav-link">Home</a>
	</li>
	@foreach (var modelInfo in modelInfoList)
	{
		<li class="nav-item">
			<a asp-page="@modelInfo.Route" class="nav-link">@modelInfo.DisplayName</a>
		</li>
	}

</ul>