@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul class="nav nav-pills">
	<li class="nav-item">
		<a asp-page="/Admin/Index" class="nav-link">Home</a>
	</li>
	<li class="nav-item">
		<a asp-page="/Admin/Jobs/Index" class="nav-link">Jobs</a>
	</li>
	<li class="nav-item">
		<a asp-page="/Admin/Teams/Index" class="nav-link">Teams</a>
	</li>
	<li class="nav-item">
		<a asp-page="/Admin/Projects/Index" class="nav-link">Projects</a>
	</li>
	<li class="nav-item">
		<a asp-page="/Admin/Employees/Index" class="nav-link">Employees</a>
	</li>
	<li class="nav-item">
		<a asp-page="/Admin/Notices/Index" class="nav-link">Notices</a>
	</li>
</ul>