<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArgoCMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ArgoCMS.styles.css" asp-append-version="true" />
</head>
<body>
    @*
        Side nav from:
        https://mdbootstrap.com/snippets/standard/mdbootstrap/2923164#css-tab-view 
    *@

    <!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav
       id="sidebarMenu"
             class="collapse d-lg-block sidebar collapse bg-dark_blue text-snow-white shadow-lg">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">

        <a asp-area=""
            asp-page="/Dashboard"
                       class="list-group-item dashboard-list py-2 ripple bg-dark_blue text-snow-white">
                        <img src="~/images/dashboard.svg" class="me-1 white-svg-filter" />
            <span>Dashboard</span>
        </a>

        <a asp-area=""
            asp-page="/Jobs/Index"
                       class="list-group-item dashboard-list py-2 bg-dark_blue text-snow-white">
                        <img src="~/images/task-list.svg" class="me-1 white-svg-filter" />
            <span>Jobs</span>
        </a>

        <a asp-area=""
            asp-page="/Teams/Index"
                       class="list-group-item dashboard-list py-2 bg-dark_blue text-snow-white">
                        <img src="~/images/shield-half.svg" class="me-1 white-svg-filter" />
            <span>Teams</span>
        </a>
          
        <a
           asp-area=""
           asp-page="/Projects/Index"
                       class="list-group-item dashboard-list py-2 bg-dark_blue text-snow-white">
                        <img src="~/images/target.svg" class="me-1 white-svg-filter" />
           <span>Projects</span>
       </a>

        <a asp-area=""
            asp-page="/Notices/Index"
                       class="list-group-item dashboard-list py-2 bg-dark_blue text-snow-white">
                        <img src="~/images/alert.svg" class="me-1 white-svg-filter" />
            <span>Notices</span>
        </a>

        <a  asp-area=""
            asp-page="/Employees/Index"
                       class="list-group-item dashboard-list py-2 bg-dark_blue text-snow-white">
                        <img src="~/images/users.svg" class="me-1 white-svg-filter" />
            <span>Employees</span>
        </a>
        @if (User.IsInRole(Authorization.AuthorizationOperations.Constants.AdministratorsRole))
        {
            <a asp-area=""
                asp-page="/Admin/Index"
                class="list-group-item dashboard-list py-2 bg-dark_blue text-snow-white">
                <img src="~/images/fingerprint.svg" class="me-1 white-svg-filter" />
                <span>Admin</span>
            </a>
        }
        </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav
       id="main-navbar"
       class="navbar navbar-expand-lg navbar-light fixed-top bg-dark_blue"
       >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler bg-dark_blue text-snow-white"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#sidebarMenu"
              aria-controls="sidebarMenu"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <img src="~/images/menu.svg" />
      </button>

      <!-- Brand -->
      <a class="navbar-brand" href="/Index">
            <h3 class="text-snow-white">ArgoCMS</h3>
      </a>


      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->
        <li class="nav-item dropdown">
          <a
             class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
             href="#"
             id="navbarDropdownMenuLink"
             role="button"
             data-mdb-toggle="dropdown"
             aria-expanded="false"
             >
            <img src="~/images/bell.svg" class="white-svg-filter" />
            <span class="badge rounded-pill badge-notification bg-danger"
                  >1</span>
          </a>
          <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Some news</a></li>
            <li><a class="dropdown-item" href="#">Another news</a></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
        </ul>

        <!-- Avatar -->
        <partial name="_LoginPartial" />
    <!-- Container wrapper -->
    </div>
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
    <main style="margin-top: 68px;">
    <div class="container">
        @RenderBody()
    </div>
</main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>