<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArgoCMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ArgoCMS.styles.css" asp-append-version="true" />
</head>
<body>
    @*
        Side nav from:
        https://mdbootstrap.com/snippets/standard/mdbootstrap/2923164#css-tab-view 
    *@

    <!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav
       id="sidebarMenu"
       class="collapse d-lg-block sidebar collapse bg-white"
       >
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">

        <a asp-area=""
            asp-page="/Dashboard"
            class="list-group-item list-group-item-action py-2 ripple">
            <object 
                class="me-3"
                type="image/svg+xml" 
                data="~/images/dashboard.svg">
            </object>
            <span>Dashboard</span>
        </a>

        <a asp-area=""
            asp-page="/Jobs/Index"
            class="list-group-item list-group-item-action py-2">
            <object class="me-3"
                type="image/svg+xml" 
                data="~/images/task-list.svg">
            </object> 
            <span>Jobs</span>
        </a>

        <a asp-area=""
            asp-page="/Teams/Index"
            class="list-group-item list-group-item-action py-2">
            <object 
                class="me-3"
                type="image/svg+xml" 
                data="~/images/shield-half.svg">
            </object>
            <span>Teams</span>
        </a>
          
        <a
           asp-area=""
           asp-page="/Projects/Index"
           class="list-group-item list-group-item-action py-2">
           <object 
               class="me-3"
               type="image/svg+xml" 
               data="~/images/target.svg">
           </object>
           <span>Projects</span>
       </a>

        <a  asp-area=""
            asp-page="/Employees/Index"
            class="list-group-item list-group-item-action py-2">
            <object 
                class="me-3"
                type="image/svg+xml" 
                data="~/images/users.svg">
            </object>
            <span>Employees</span>
        </a>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav
       id="main-navbar"
       class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
       >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
              class="navbar-toggler"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#sidebarMenu"
              aria-controls="sidebarMenu"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <object type="image/svg+xml" data="~/images/menu.svg"></object>
      </button>

      <!-- Brand -->
      <a class="navbar-brand" href="/Index">
        <h3>ArgoCMS</h3>
      </a>


      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->
        <li class="nav-item dropdown">
          <a
             class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
             href="#"
             id="navbarDropdownMenuLink"
             role="button"
             data-mdb-toggle="dropdown"
             aria-expanded="false"
             >
            <object type="image/svg+xml" data="~/images/bell.svg"></object>
            <span class="badge rounded-pill badge-notification bg-danger"
                  >1</span>
          </a>
          <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Some news</a></li>
            <li><a class="dropdown-item" href="#">Another news</a></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
        </ul>

        <!-- Avatar -->
        <partial name="_LoginPartial" />
    <!-- Container wrapper -->
    </div>
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 70px">
    <div class="container">
        @RenderBody()
    </div>
</main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ArgoCMS - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>