@page
@model ArgoCMS.Pages.Admin.Comments.JobComments.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>JobComment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JobComment.CommentId" />
            <div class="form-group">
                <label asp-for="JobComment.ParentId" class="control-label"></label>
                <select asp-for="JobComment.ParentId" class="form-control" asp-items="ViewBag.ParentId"></select>
                <span asp-validation-for="JobComment.ParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobComment.OwnerID" class="control-label"></label>
                <select asp-for="JobComment.OwnerID" class="form-control" asp-items="ViewBag.OwnerID"></select>
                <span asp-validation-for="JobComment.OwnerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobComment.CommentText" class="control-label"></label>
                <input asp-for="JobComment.CommentText" class="form-control" />
                <span asp-validation-for="JobComment.CommentText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobComment.CreationDate" class="control-label"></label>
                <input asp-for="JobComment.CreationDate" class="form-control" />
                <span asp-validation-for="JobComment.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
