@page
@model ArgoCMS.Pages.Projects.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project.OwnerID" class="control-label"></label>
                <input asp-for="Project.OwnerID" class="form-control" />
                <span asp-validation-for="Project.OwnerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.ProjectName" class="control-label"></label>
                <input asp-for="Project.ProjectName" class="form-control" />
                <span asp-validation-for="Project.ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.ProjectDescription" class="control-label"></label>
                <input asp-for="Project.ProjectDescription" class="form-control" />
                <span asp-validation-for="Project.ProjectDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.DateCreated" class="control-label"></label>
                <input asp-for="Project.DateCreated" class="form-control" />
                <span asp-validation-for="Project.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
