@page
@model ArgoCMS.Pages.Projects.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h2>Your Projects</h2>
<div class="row">
    @foreach (var item in Model.EmployeeProjects)
    {
        <div class="col-xl-3 col-md-6 col-xl-6">
            <a asp-page="ProjectHome/Index" asp-route-projectId="@item.ProjectId" class="text-decoration-none">
                <div class="card mb-4 bg-dark_blue hover-shadow">
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col text-snow-white text-decoration-none">
                                <h5>@item.Project.ProjectName</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>