@page
@model ArgoCMS.Pages.Employees.CreateModel

@{
	ViewData["Title"] = "Register a New Employee";
}

<h1>Create</h1>

<h4>Register a New Employee</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label>Full name</label>
				<input asp-for="Employee.FirstName" class="form-control" placeholder="First name" />
				<input asp-for="Employee.LastName" class="form-control" placeholder="Last name" />
				<span asp-validation-for="Employee.FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Employee.TeamID" class="control-label"></label>
				<select asp-for="Employee.TeamID" class="form-control" asp-items="Model.Teams">
					<option selected disabled>Select a team</option>
				</select>
			</div>
			<div class="form-group">
				<label asp-for="Role" class="control-label"></label>
				<select asp-for="Role" class="form-control" asp-items="Model.Roles">
					<option selected disabled>Select a role</option>
				</select>
			</div>
			<div class="form-group" id="ReportsTo">
				<label asp-for="Employee.ReportsToId" class="control-label"></label>
				<select asp-for="Employee.ReportsToId" asp-items="Model.Employees" class="form-control">
					<option selected disabled>Select an employee</option>
				</select>
				<span asp-validation-for="Employee.ReportsToId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Employee.PersonalEmail" class="control-label"></label>
				<input asp-for="Employee.PersonalEmail" class="form-control" />
				<span asp-validation-for="Employee.PersonalEmail" class="text-danger"></span>
			</div>			
			<div class="form-group">
				<label asp-for="Employee.EmploymentDate" class="control-label"></label>
				<input asp-for="Employee.EmploymentDate" class="form-control" />
				<span asp-validation-for="Employee.EmploymentDate" class="text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label asp-for="Employee.UserName" class="control-label"></label>
				<input asp-for="Employee.UserName" class="form-control" />
				<span asp-validation-for="Employee.UserName" class="text-danger"></span>
			</div>
			
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<script src="~/js/create_employee.js"></script>
}