@font-face {
    font-family: 'Poppins-Bold';
    src: url('../font/Poppins-Bold.ttf') format('truetype');
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #101322;
    color: #F3F5F7;
    font-family: Arial, Verdana, sans-serif;
}
@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

.font-bold {
    font-family: Poppins-Bold;
}

.white-svg-filter {
    filter: invert(98%) sepia(14%) saturate(330%) hue-rotate(175deg) brightness(100%) contrast(95%);
}

.bg-dark_blue {
    background: #262A39;
}

.bg-team_dashboard_blue {
    background: #3A4158;
}

.text-snow-white {
    color: #F3F5F7 !important;
}

.bg-content_blue {
    background: #101322;
}

.dashboard-list:hover {
    background: #101322;
}

.dashboard-card-link {
    text-decoration: none;
    color: #F3F5F7;
}

.dashboard-card-link:hover {
    color: #d4d4d4;
}

.dashboard-quick-link {
    text-decoration: none;
}

.db-ql:hover {
    background: #101322;
}

.notice-block {
    padding: 3px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;    
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}
.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.accordion-item {
    background: #262A39;
}

.accordion-button {
    background: #262A39;
}

.accordion-button:not(.collapsed) {
    background: #262A39;
}

.accordion-body {
    background: #3B4158;
}

.select2-container--default {
    color: black;
}

.hover-shadow:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.rounded-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; /* Adjust the font size as needed */
    color: white; /* Text color for initials */
}

/* Notification bar */
.dropdown {
    display: inline-block;
    padding: 10px;
}

.hover-alert:hover {
    filter: invert(98%) sepia(14%) saturate(330%) hue-rotate(175deg) brightness(80%) contrast(95%);
}

.notifications {
    min-width: 420px;
}

.notifications a.notificationUrl {
    text-decoration: none;
}

.notifications-wrapper {
    overflow: auto;
    max-height: 250px;
}

.notification-read {
    background-color: #ccc;
}

.delete-link {
    cursor:pointer;
}