@page
@model CompanyManagementSystem.Pages.DashboardModel
@{
    ViewData["title"] = "Dashboard";
}

<h1>Dashboard</h1>
<hr />

<div class="row row-cols-lg-3 row-cols-sm-1">
    
    <!-- Column 1 -->
    <div class="col mb-2">
        <!-- Tasks -->
        <div class="card mb-4" style="">
            <div class="card-body">
                <h5 class="card-title">Tasks</h5>
                <h6 class="card-subtitle mb-2 text-muted">Your tasks</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

        <!-- Projects -->
        <div class="card" style="">
            <div class="card-body">
                <h5 class="card-title">Projects</h5>
                <h6 class="card-subtitle mb-2 text-muted">Your projects</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>

    <!-- Column 2 -->
    <div class="col mb-2">
        <div class="card mb-4" style="">
            <!-- Teams -->
            <div class="card-body">
                <h5 class="card-title">Teams</h5>
                <h6 class="card-subtitle mb-2 text-muted">Your teams</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

        <!-- Reports To -->
        <div class="card" style="">
            <div class="card-body">
                <h5 class="card-title">Reports to</h5>
                <h6 class="card-subtitle mb-2 text-muted">Your managers</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>

    <!-- Column 3 -->
    <div class="col mb-2">
        <!-- Notices -->
        <div class="card" style="">
            <div class="card-body">
                <h5 class="card-title">Notices</h5>
                <h6 class="card-subtitle mb-2 text-muted">All relevant notices</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>