@page
@using Newtonsoft.Json;
@model CompanyManagementSystem.Pages.DashboardModel
@{
    ViewData["title"] = "Dashboard";
}

<h1>Dashboard</h1>
<hr />

<div class="row">
    
    <!-- Column 1 -->
    <div class="col-xl-6">
        <div class="card mb-4 bg-dark_blue">
            <div class="card-header">
                <h5>Tasks</h5>
            </div>
            <div class="card-body">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>


    <div class="col-xl-6">
        <div class="card mb-4 bg-dark_blue">
            <div class="card-header">
                <h5>Projects</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card mb-4 bg-dark_blue">
            <div class="card-header">
                <h5>Teams</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card mb-4 bg-dark_blue">
            <div class="card-header">
                <h5>Reports to</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card mb-4 bg-dark_blue">
            <div class="card-header">
                <h5>Notices</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    let tasks = @Html.Raw(JsonConvert.SerializeObject(Model.Jobs));
    const ctx = document.getElementById('myChart');
    console.log(tasks);
    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ["test", "blah"],
            datasets: [{
                data: [12, 19]
            }]
        }
    });

</script>